  <td>
    <span class="bookmarked">
      <span class="glyphicon glyphicon-bookmark"></span>
    </span>
  </td>
  <td>
    <span class="file-name"></span>
  </td>
  <td class="file-type"></td>
  <td class="file-size"></td>
