/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

}

.header {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
